*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  height: 60vh;
}

a{
    font-size: 50px;
    text-decoration: none;
    color: #222;
    position: relative; /*vont avoir des enfants en position absolute*/
}

.slide{
    font-family: sans-serif;
}

.slide::before{
    /*toujours instancié les pseudo élément même avec un élément vide, c'est à ça que sert content: ""*/
    content: "";
    position: absolute;
    background: #222;
    width: 100%;
    height: 3px;
    bottom: 0;
    transform-origin: 100% 0; /*change l'origine de transformation, ici 100% sur x, on peut jouer avec cette valeur pour faire aller la ligne plus loin par exemple (plus donne un effet piou laser!*/
    transform: scaleX(0);
    transition: transform 0.4s;
}

.slide:hover::before{
    /*quand on hover, le point d'origine repasse à 0 sur x et grandit par la gauche, quand on retire la souris, il retourne à 100% et scale 0, ce ui donne l'effet de slide */
    transform-origin: 0 0;
    transform: scaleX(1);
}

.download{
    font-family: "Staatliches";
    overflow: hidden;
}

.download span{
    padding: 10px;
    display: inline-block; /*il peut y avoir des bugs avec les transition sur les elements de type inline*/
    transition: transform 0.3s ease-out;
}

.download span:nth-child(2){
    position: absolute;
    width: 100%;
    /*comme il y a un overflow hidden sur le parent et qu'il dépasse on ne le voit pas mais il est bien là*/
    left: 100%;
    text-align: center;
}

.download:hover span{
    transform: translateX(-100%);
}

.underlines::before, .underlines::after{
    content:"";
    position: absolute;
    height: 2px;
    background: #222;
    opacity: 0;
    left: 50%;
    transform: translate(-50%, 10px);
    transition: all 0.2s ease-out;    
}

.underlines::before{
    width: 90%;
    bottom: 0;
}

.underlines::after{
    width: 60%;
    bottom: -7px;
}

.underlines:hover::before, .underlines:hover::after{
    opacity: 1;
    transform: translate(-50%, 0px);
}

/* jeu de délais inversés pour l'effet apparition et disparition en décalé*/

.underlines::before, .underlines:hover::after{
    transition-delay: 0.1s; 
}

.underlines:hover::before{
    transition-delay: 0s;
}